.img{
    height: 123px;
    margin-top: 1.75%;
    
}
button{
    margin-bottom: 25px;
}
.product-title{
    color: white;
}
.price{
    color: white;
}
.list{
    color: white;
}
.sort-title{
    color:white;
}
.pagination{
    color: white;
}